/* make same classes each page for header and footer */
/* header and footer will have white background? */
/* add same background color for each page.. purple? */
/*  */

/* imported font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&=Raleway:wght@100;500&display=swap');

/* body {
    background-color: rgb(204, 137, 218);
} */
* {
    margin: 0;
    padding: 0;
}

.container {
    height: 150vh;
    width: 200vh;
    background-image: url(/GHP_images/simple_background.jpg);
    background-position: center;
    background-size: cover;
    /* padding-left: 5%;
    padding-right: 5%; */
    box-sizing: border-box;
    position: relative;

}

header {
    margin: 10px;
    border: 5cap solid;
    border-color: white;
    padding: 3%;
    background-color: white;
}

.name {
    font-size: 30px;
    float: left;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

}

.tabs {
    font-size: 30px;
    float: right;
    font-family: 'Raleway', sans-serif;
}

.social_links {
    height: 40px;
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
}

.hobby_images {
    width: 200px;
}


.hobbies {
    display: grid;
    gap: 1.5rem;
}

.intro {
    font-family: 'Cormorant Garamond', serif;
    display: grid;
    border-color: aqua;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px;
    
    
}

.projects {
    display: grid;
    /* grid-template-rows: 1fr 1 fr 1fr; */
    gap: 1.5rem;
}

.button1 {
    background-color: aliceblue;
    border: 2px solid black;
    padding: 2px 20px;

}

.contact_form {
    display: grid;
    

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 0;
    border: 5px solid;
    border-color: white;
    text-align: center;
    background-color: white;
    
}